{% extends 'base.html' %}

{% block head %}
<title>Attendance</title>
{% endblock %}

{% block body %}
<div class="content">
    <h1 style="text-align: center">Attendance</h1>
    {% if students|length < 1 %}
    <h4 style="text-align: center">There are no students. Create one below!</h4>
    {% else %}
    <table>
        <tr>
            <th>Name</th>
            <th>Present</th>
            <th>RFID</th>
            <th>Photo</th>
            <th>Added</th>
            <th>Actions</th>
        </tr>
        {% for student in students %}
            <tr>
                <td>{{ student.content }}</td>
                <td>{{ student.present }}</td>
                <td>{{ student.rfid }}</td>
                <td class="a">{{ student.vector }}</td>
                <td>{{ student.date_created.date() }}</td>
                <td>
                    <a href="/delete/{{student.id}}">Delete</a>
                    <br>
                    <a href="/update/{{student.id}}">Update</a>
                    <br>
                    <a href="{{ url_for('present', id=student.id) }}">Mark as present</a>
                </td>
            </tr>
        {% endfor %}
    </table>
    {% endif %}

    <div class="form">
        <form action="/" method="POST">
            <input type="text" name="content" id="content">
            <input type="submit" value="Add Student">
        </form>
    </div>
</div>
{% endblock %}